name: macOS

on:
  pull_request:
    branches:
      - main
      - 'dev'
    paths:
      - 'cola/**'
      - '.github/workflows/**'
  push:
    branches:
      - main
      - 'dev'
    paths:
      - 'cola/**'
      - '.github/workflows/**'

jobs:
  build:
    strategy:
      matrix:
        os: [macOS-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - name: Set up Homebrew
        uses: Homebrew/actions/setup-homebrew@master
      - name: Install Clang 16
        run: |
          brew install llvm@16
          llvm-config --version

      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: latest

      - name: Tests
        run: |
          xmake clean -a
          xmake f -m debug
          xmake -rvD
          xmake run -a