name: Linux

on:
  pull_request:
    branches:
      - main
      - 'dev'
  push:
    branches:
      - main
      - 'dev'


jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2
      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: latest

      - name: Tests
        run: |
          xmake clean -a
          xmake f -m debug
          xmake