name: Linux

on:
  pull_request:
    branches:
      - main
      - 'dev'
    paths:
      - 'cola/**'
      - '.github/workflows/**'
  push:
    branches:
      - main
      - 'dev'
    paths:
      - 'cola/**'
      - '.github/workflows/**'


jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Add Ubuntu Toolchain PPA
        run: |
          sudo add-apt-repository ppa:ubuntu-toolchain-r/test
          sudo apt update
          sudo apt install gcc-13 g++-13
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-13 13
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-13 13
          g++ --version

      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: latest

      - name: Tests
        run: |
          xmake clean -a
          xmake f -m debug
          xmake -rV
          xmake run -a