name: Windows

on:
  pull_request:
    branches:
      - main
      - 'dev'
    paths:
      - 'cola/**'
      - '.github/workflows/**'
  push:
    branches:
      - main
      - 'dev'
    paths:
      - 'cola/**'
      - '.github/workflows/**'



jobs:
  build:
    strategy:
      matrix:
        os: [windows-latest]
        arch: [x64, x86]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: xmake-io/github-action-setup-xmake@v1
        with:
          xmake-version: latest

      - name: Tests
        run: |
          xmake clean -a
          xrepo install -y "opencv 4.8.0"
          xmake f -m debug -a ${{ matrix.arch }}
          xmake build --root -r -v -D -y
          xmake run -a